<% layout('./public/layout') %>

   <div class="container padding 2000px ">
     <div class="col-sms-12">

       <% if (data !=0) { %>
         <h2>El Numero de Asiento es <%=data%></h2>
         <%  } else  { %>
           <h2>No se pudo procesar la transaccion</h2>
<% }%>
            <div ="container-fluid">

              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Ver Menu</a>    </div>
     </div>
     </div>
